h2 {
	margin-top: 50px;
	color: #CBDCE0;
}

blockquote {
	float: right;
	width: 275px;
	font-size: 130%;
	font-style: italic;
	font-family: Georgia, Times, serif;
	margin: 0px 0px 10px 10px;
	padding: 10px;
	border-top: 1px solid #665544;
	border-bottom: 1px solid #665544;
}

#blogpost, #right {
	background-color: #CBDCE0;
	padding: 20px 10px 20px 10px;
	margin: 0px 10px 0px 10px;
	border: 2px solid #4ED1EC;
}
