#nav {
	font-family: "Courier New", Courier, monospace;
	font-size: 120%;
	font-weight: bold;
	letter-spacing: 0.15em;
	text-align: center;
	margin-top: 150px;
	border-top: 2px solid #CBDCE0;
	border-bottom: 2px solid #CBDCE0;
	border-color: #CBDCE0;
	margin-bottom: 20px;
}

li {
	display: inline;
	margin-right: 30px;
	color: #CBDCE0;
	cursor: cell;
}
