#nav {
	font-family: "Courier New", Courier, monospace;
	font-size: 120%;
	font-weight: bold;
	letter-spacing: 0.15em;
	text-align: center;
	margin-top: 150px;
	border-top: 2px solid #CBDCE0;
	border-bottom: 1px solid #CBDCE0;
	border-color: #CBDCE0;
	margin-bottom: 20px;
}

li {
	display: inline;
	margin-right: 15px;
}

a:link {
	text-decoration: none;
	color: #CBDCE0;
}
a:visited {
	text-decoration: none;
	color: #CBDCE0;
}
a:hover {
	color: #4ED1EC;
	text-decoration: underline;
}
a:active {
	color: #4ED1EC;
	text-decoration: underline;
}
